/* ============================================================
  COMMONS
============================================================ */
section {
  position: relative;
  margin-bottom: 40px;
}
section:last-child {
  margin-bottom: 0;
}

.spinner {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* ============================================================
  STYLE 1
============================================================ */
.spinner-1 {
  height: 100px;
}
.spinner-1 .spinner {
  width: 100px;
  height: 100px;
  background-color: #28aadc;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.spinner-1 .spinner:before {
  display: block;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 10px;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-color: #fff;
  content: "";
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-transform-origin: 10px 40px;
  -moz-transform-origin: 10px 40px;
  -ms-transform-origin: 10px 40px;
  -o-transform-origin: 10px 40px;
  transform-origin: 10px 40px;
  -webkit-animation: spinner-1 1s infinite linear;
  -moz-animation: spinner-1 1s infinite linear;
  -ms-animation: spinner-1 1s infinite linear;
  -o-animation: spinner-1 1s infinite linear;
  animation: spinner-1 1s infinite linear;
}

@-webkit-keyframes spinner-1 {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spinner-1 {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes spinner-1 {
  from {
    -ms-transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
  }
}

@-o-keyframes spinner-1 {
  from {
    -o-transform: rotate(0deg);
  }

  to {
    -o-transform: rotate(360deg);
  }
}

@keyframes spinner-1 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ============================================================
  SPINNER 2
============================================================ */
.spinner-2 {
  height: 200px;
}
.spinner-2 .spinner {
  width: 100px;
  height: 100px;
}
.spinner-2 .spinner:before {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: solid 20px #ff3c50;
  border-bottom: solid 20px #ff3c50;
  border-left: solid 20px transparent;
  border-right: solid 20px transparent;
  content: "";
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-animation: spinner-2 .4s infinite linear;
  -moz-animation: spinner-2 .4s infinite linear;
  -ms-animation: spinner-2 .4s infinite linear;
  -o-animation: spinner-2 .4s infinite linear;
  animation: spinner-2 .4s infinite linear;
}
.spinner-2 .spinner:after {
  display: block;
  position: inherit;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  background-color: #28aadc;
  content: "";
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}

@-webkit-keyframes spinner-2 {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(180deg);
  }
}

@-moz-keyframes spinner-2 {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes spinner-2 {
  from {
    -ms-transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
  }
}

@-o-keyframes spinner-2 {
  from {
    -o-transform: rotate(0deg);
  }

  to {
    -o-transform: rotate(360deg);
  }
}

@keyframes spinner-2 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.loader {
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 0.8em auto;
  position: relative;
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.51em -0.66em 0 -0.42em #ffffff, -0.75em -0.36em 0 -0.44em #ffffff, -0.83em -0.03em 0 -0.46em #ffffff, -0.81em 0.21em 0 -0.477em #ffffff;
  }
  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.29em -0.78em 0 -0.42em #ffffff, -0.43em -0.72em 0 -0.44em #ffffff, -0.52em -0.65em 0 -0.46em #ffffff, -0.57em -0.61em 0 -0.477em #ffffff;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }-0.83em 0 -0.4em #ffffff, -0.29em -0.78em 0 -0.42em #ffffff, -0.43em -0.72em 0 -0.44em #ffffff, -0.52em -0.65em 0 -0.46em #ffffff, -0.57em -0.61em 0 -0.477em #ffffff;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
}
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

angular.module('ionicApp', ['ionic'])

.config(function($stateProvider, $urlRouterProvider) {

  $stateProvider
    .state('eventmenu', {
      url: "/event",
      abstract: true,
      templateUrl: "event-menu.html"
    })
    .state('eventmenu.home', {
      url: "/home",
      views: {
        'menuContent' :{
          templateUrl: "home.html"
        }
      }
    })
    .state('eventmenu.checkin', {
      url: "/check-in",
      views: {
        'menuContent' :{
          templateUrl: "check-in.html",
          controller: "CheckinCtrl"
        }
      }
    })
    .state('eventmenu.attendees', {
      url: "/attendees",
      views: {
        'menuContent' :{
          templateUrl: "attendees.html",
          controller: "AttendeesCtrl"
        }
      }
    })
  
  $urlRouterProvider.otherwise("/event/home");
})

.controller('MainCtrl', function($scope, $ionicSideMenuDelegate, $ionicLoading, $timeout) {
  $scope.leftButtons = [{
    type: 'button-icon button-clear ion-navicon',
    tap: function(e) {
      $ionicSideMenuDelegate.toggleLeft($scope.$$childHead);
    }
  }];

  $scope.showLoading = function() {
  
        $scope.loadingIndicator = $ionicLoading.show({
            content: 'Loading On Main',
            animation: 'fade-in',
            showBackdrop: false,
            maxWidth: 200,
            showDelay: 500
        });

    $timeout(function(){
      $scope.loadingIndicator.hide();
    },1000);    
  
  };
  
  $scope.attendees = [
    { firstname: 'Nicolas', lastname: 'Cage' },
    { firstname: 'Jean-Claude', lastname: 'Van Damme' },
    { firstname: 'Keanu', lastname: 'Reeves' },
    { firstname: 'Steven', lastname: 'Seagal' }
  ];
})

.controller('Checkin

    $timeout(function(){
      $scope.loadingIndicator.hide();
    },1000);     
  };
    

    
  $scope.showForm = true;
  
  $scope.shirtSizes = [
    { text: 'Large', value: 'L' },
    { text: 'Medium', value: 'M' },
    { text: 'Small', value: 'S' }
  ];
  
  $scope.attendee = {};
  $scope.submit = function() {
    if(!$scope.attendee.firstname) {
      alert('Info required');
      return;
    }
    $scope.showForm = false;
    $scope.attendees.push($scope.attendee);
  };
  
})

.controller('AttendeesCtrl', function($scope, $ionicLoading, $timeout) {

  $scope.showLoading = function() {
  
        $scope.loadingIndicator = $ionicLoading.show({
            content: 'Loading in Attendees!',
            animation: 'fade-in',
            showBackdrop: false,
            maxWidth: 200,
            showDelay: 500
        });

    $timeout(function(){
      $scope.loadingIndicator.hide();
    },1000);    
  
  };  
  $scope.activity = [];
  $scope.arrivedChange = function(attendee) {
    var msg = attendee.firstname + ' ' + attendee.lastname;
    msg += (!attendee.arrived ? ' has arrived, ' : ' just left, '); 
    msg += new Date().getMilliseconds();
    $scope.activity.push(msg);
    if($scope.activity.length > 3) {
      $scope.activity.splice(0, 1);
    }
  };
  
});

/* ============================================================
  SPINNER 3
============================================================ */
.spinner-3 {
  height: 100px;
}
.spinner-3 .spinner {
  width: 100px;
  height: 100px;
}
.spinner-3 .spinner:before, .spinner-3 .spinner:after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 40px;
  height: 40px;
  content: "";
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
.spinner-3 .spinner:before {
  left: 0;
  background-color: #28aadc;
  -webkit-animation: spinner-3-left 1s infinite linear;
  -moz-animation: spinner-3-left 1s infinite linear;
  -ms-animation: spinner-3-left 1s infinite linear;
  -o-animation: spinner-3-left 1s infinite linear;
  animation: spinner-3-left 1s infinite linear;
}
.spinner-3 .spinner:after {
  right: 0;
  background-color: #ff3c50;
  -webkit-animation: spinner-3-right 1s infinite linear;
  -moz-animation: spinner-3-right 1s infinite linear;
  -ms-animation: spinner-3-right 1s infinite linear;
  -o-animation: spinner-3-right 1s infinite linear;
  animation: spinner-3-right 1s infinite linear;
}

/* left ball */
@-webkit-keyframes spinner-3-left {
  0% {
    -webkit-transform: translate(0, 0);
  }

  25% {
    -webkit-transform: translate(30px, 0);
  }

  50% {
    -webkit-transform: translate(30px, -30px);
  }

  75% {
    -webkit-transform: translate(30px, 0);
  }

  100% {
    -webkit-transform: translate(0, 0);
  }
}

@-mos-keyframes spinner-3-left {
  0% {
    -mos-transform: translate(0, 0);
  }

  25% {
    -mos-transform: translate(30px, 0);
  }

  50% {
    -mos-transform: translate(30px, -30px);
  }

  75% {
    -mos-transform: translate(30px, 0);
  }

  100% {
    -mos-transform: translate(0, 0);
  }
}

@-ms-keyframes spinner-3-left {
  0% {
    -ms-transform: translate(0, 0);
  }

  25% {
    -ms-transform: translate(30px, 0);
  }

  50% {
    -ms-transform: translate(30px, -30px);
  }

  75% {
    -ms-transform: translate(30px, 0);
  }

  100% {
    -ms-transform: translate(0, 0);
  }
}

@-o-keyframes spinner-3-left {
  0% {
    -o-transform: translate(0, 0);
  }

  25% {
    -o-transform: translate(30px, 0);
  }

  50% {
    -o-transform: translate(30px, -30px);
  }

  75% {
    -o-transform: translate(30px, 0);
  }

  100% {
    -o-transform: translate(0, 0);
  }
}

@keyframes spinner-3-left {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(30px, 0);
  }

  50% {
    transform: translate(30px, -30px);
  }

  75% {
    transform: translate(30px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

/* right ball */
@-webkit-keyframes spinner-3-right {
  0% {
    -webkit-transform: translate(0, 0);
  }

  25% {
    -webkit-transform: translate(-30px, 0);
  }

  50% {
    -webkit-transform: translate(-30px, 30px);
  }

  75% {
    -webkit-transform: translate(-30px, 0);
  }

  100% {
    -webkit-transform: translate(0, 0);
  }
}

@-moz-keyframes spinner-3-right {
  0% {
    -moz-transform: translate(0, 0);
  }

  25% {
    -moz-transform: translate(-30px, 0);
  }

  50% {
    -moz-transform: translate(-30px, 30px);
  }

  75% {
    -moz-transform: translate(-30px, 0);
  }

  100% {
    -moz-transform: translate(0, 0);
  }
}

@-ms-keyframes spinner-3-right {
  0% {
    -ms-transform: translate(0, 0);
  }

  25% {
    -ms-transform: translate(-30px, 0);
  }

  50% {
    -ms-transform: translate(-30px, 30px);
  }

  75% {
    -ms-transform: translate(-30px, 0);
  }

  100% {
    -ms-transform: translate(0, 0);
  }
}

@-o-keyframes spinner-3-right {
  0% {
    -o-transform: translate(0, 0);
  }

  25% {
    -o-transform: translate(-30px, 0);
  }

  50% {
    -o-transform: translate(-30px, 30px);
  }

  75% {
    -o-transform: translate(-30px, 0);
  }

  100% {
    -o-transform: translate(0, 0);
  }
}

@keyframes spinner-3-right {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-30px, 0);
  }

  50% {
    transform: translate(-30px, 30px);
  }

  75% {
    transform: translate(-30px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

/* ============================================================
  SPINNER 4
============================================================ */
.spinner-4 {
  height: 100px;
}
.spinner-4 .spinner {
  width: 100px;
  height: 100px;
}
.spinner-4 .spinner:before, .spinner-4 .spinner:after {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 50px;
  height: 50px;
  content: "";
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
}
.spinner-4 .spinner:before {
  left: 0;
  background-color: #28aadc;
  -webkit-animation: spinner-4-left 0.5s infinite ease;
  -moz-animation: spinner-4-left 0.5s infinite ease;
  -ms-animation: spinner-4-left 0.5s infinite ease;
  -o-animation: spinner-4-left 0.5s infinite ease;
  animation: spinner-4-left 0.5s infinite ease;
}
.spinner-4 .spinner:after {
  right: 0;
  background-color: #ff3c50;
  -webkit-animation: spinner-4-right 0.5s infinite ease;
  -moz-animation: spinner-4-right 0.5s infinite ease;
  -ms-animation: spinner-4-right 0.5s infinite ease;
  -o-animation: spinner-4-right 0.5s infinite ease;
  animation: spinner-4-right 0.5s infinite ease;
}

/* left ball */
@-webkit-keyframes spinner-4-left {
  0% {
    -webkit-transform: scale(0.5);
  }

  50% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.5);
  }
}

@-moz-keyframes spinner-4-left {
  0% {
    -moz-transform: scale(0.5);
  }

  50% {
    -moz-transform: scale(1);
  }

  100% {
    -moz-transform: scale(0.5);
  }
}

@-ms-keyframes spinner-4-left {
  0% {
    -ms-transform: scale(0.5);
  }

  50% {
    -ms-transform: scale(1);
  }

  100% {
    -ms-transform: scale(0.5);
  }
}

@-o-keyframes spinner-4-left {
  0% {
    -o-transform: scale(0.5);
  }

  50% {
    -o-transform: scale(1);
  }

  100% {
    -o-transform: scale(0.5);
  }
}

@keyframes spinner-4-left {
  0% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}

/* right ball */
@-webkit-keyframes spinner-4-right {
  0% {
    -webkit-transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes spinner-4-right {
  0% {
    -moz-transform: scale(1);
  }

  50% {
    -moz-transform: scale(0.5);
  }

  100% {
    -moz-transform: scale(1);
  }
}

@-ms-keyframes spinner-4-right {
  0% {
    -ms-transform: scale(1);
  }

  50% {
    -ms-transform: scale(0.5);
  }

  100% {
    -ms-transform: scale(1);
  }
}

@-o-keyframes spinner-4-right {
  0% {
    -o-transform: scale(1);
  }

  50% {
    -o-transform: scale(0.5);
  }

  100% {
    -o-transform: scale(1);
  }
}

@keyframes spinner-4-right {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}
